div.podium{
    margin: auto;
    width: 80% !important;
}


div.first{
    background-color: yellow;
    color: yellow;
    padding-bottom: 80px !important;
}

div.second{
    background-color: red;
    color: red;
    padding-bottom: 40px !important;
}

div.third{
    background-color: blue;
    color: blue;
    padding-bottom: 20px !important;
}
div.pad{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.second_content{
    margin-top: 40px;
}

div.third_content{
    margin-top: 60px;
}

div.row{
    margin-bottom: 5px !important;
}

a:hover{
    text-decoration: underline;
}

input#fotoNueva{
    color:white;
}